@model List<Student>

<div class="container">
	<div class="row align-items-center">
		<div class="col-9">
			<h1 class="py-3 ps-3">Manage Students</h1>
		</div>
		<div class="col">
			<a asp-controller="Student" asp-action="Create" class="btn btn-light">
				<i class="bi bi-plus-square me-2"></i> Add Student
			</a>
		</div>
		<hr />
	</div>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<th>Student Id</th>
		<th>Student Name</th>
		<th>Student Register Number</th>
		<th>Student Telephone Number</th>
		<th>Student Email</th>
		<th>Student Date of Birth</th>
		<th>Actions</th>
	</thead>

	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.StudentId</td>
			<td>@item.StudentName</td>
			<td>@item.StudentRegNum</td>
			<td>@item.StudentTel</td>
			<td>@item.StudentEmail</td>
			<td>@item.StudentDateOfBirth</td>
			<td>
				<div class="row px-3">
					<a href="#" class="btn btn-light btn-sm"><i class="bi bi-pen-fill pb-4"></i>Edit</a>
					<a href="#" class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i>Delete</a>
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>