@model List<Course>

<div class="container">
	<div class="row align-items-center">
		<div class="col-9">
			<h1 class="py-3 ps-3">Manage Courses</h1>
		</div>
		<div class="col">
			<a asp-controller="Course" asp-action="Create" class="btn btn-light">
				<i class="bi bi-plus-square me-2"></i> Add Course
			</a>
		</div>
		<hr />
	</div>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<th>Course Id</th>
		<th>Course Name</th>
		<th>Course Code</th>
		<th>Course Price</th>
		<th>Course Type</th>
		<th>Actions</th>
	</thead>

	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CourseId</td>
			<td>@item.CourseName</td>
			<td>@item.CourseCode</td>
			<td>@item.CoursePrice</td>
			<td>@item.CourseType</td>
			<td>
				<div class="row px-3">
					<a href="#" class="btn btn-light btn-sm"><i class="bi bi-pen-fill pb-4"></i>Edit</a>
					<a href="#" class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i>Delete</a>
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>